<!DOCTYPE html>
<html th:replace="~{layout/layout.html :: layout(~{::head}, ~{::section})}"
      lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jinia's Log - 카테고리 편집</title>
    <!-- SEO -->
    <meta name="description" content=""/>
    <meta name="keyword" content=""/>
    <meta name="author" content="jinia"/>
    <meta name="viewport" content="width=device-width,  user-scalable = no, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <!-- OPEN GRAPH(FACEBOOK, LINKEDIN) -->
    <meta property="og:type" content=""/>
    <meta property="og:description" content=""/>
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>

    <!-- twitter -->
    <meta property="twitter:card" content=""/>
    <meta property="twitter:title" content=""/>
    <meta property="twitter:description" content=""/>
    <meta property="twitter:image" content=""/>
    <meta property="twitter:url" content=""/>
    <meta property="twitter:creator" content=""/>

    <link rel="icon" href=""/>
    <link rel="apple-touch-icon" href=""/>
    <link rel="short icon" type="image/x-icon" href=""/>

    <!-- CSS RESET -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"/>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/mainCss.css"/>
    <link rel="stylesheet" href="/css/login.css"/>

    <script src="https://kit.fontawesome.com/233840a552.js" crossorigin="anonymous"></script>
</head>

<body>

<section>

    <div style="margin-bottom: 150px"></div>

    <div class="d-flex">
        <div id="categoryBox" class="list-unstyled ps-0 d-flex flex-column"><th:block th:each="superCategory : ${category.getCategoryTCountList()}"><div class="ms-0 fw-bold btn btn-secondary"
                                                                                   th:text="|${superCategory.getTitle()}|"
                                                                                   th:id="|superCategory-${superCategory.getId()}|"
                                                                                   onclick="clickCategory(this)"></div><th:block
                th:each="subCategory : ${superCategory.getCategoryTCountList()}"><div class="btn btn-secondary"
                                                                                      th:text="|${subCategory.getTitle()}|"
                                                                                      th:id="|subCategory-${subCategory.getId()}|"
                                                                                      onclick="clickCategory(this)"></div></th:block></th:block></div>

        <div>
            <div>
                <input type="text" class="form-control" id="categoryName">
            </div>
            <div>
                <button class="btn btn-secondary" onclick="categoryUp()">orderUp</button>
                <button class="btn btn-secondary" onclick="categoryDown()">orderDown</button>
            </div>
            <div>
                <button class="btn btn-secondary" onclick="tierUp()">tierUp</button>
                <button class="btn btn-secondary" onclick="tierDown()">tierDown</button>
            </div>
            <div>
                <button class="btn btn-secondary" onclick="addCategory()">add</button>
                <button class="btn btn-secondary" onclick="deleteCategory()">delete</button>
            </div>

        </div>

    </div>

    <button class="btn btn-secondary" onclick="changeCategory()">적 용</button>
    <button class="btn btn-secondary" onclick="javascript:history.back()">취 소</button>

    <div style="margin-bottom:  100px"></div>


    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/getCsrf.js"></script>
    <script th:inline="javascript">

        // 재사용할 dto
        const categorysList = [[${categoryForEdit}]];

        const categoryName = document.getElementById("categoryName");

        // 셀렉터
        let seclector;
        function clickCategory(div) {
            selector = div;
            console.log(categorysList);
            categoryName.value = selector.innerText;

        }

        categoryName.addEventListener("keyup", () => {
            const category = categorysList.find(x => x.title == selector.innerText);
            selector.innerText = categoryName.value;
            category.title = selector.innerText;

        })

        function swapToPrevious(title){

            const index = categorysList.findIndex(x=>x.title == title);

            let tmp = categorysList[index-1];
            categorysList[index-1] = categorysList[index];
            categorysList[index] = tmp;
        }


        function swapToNextInDto(title){

            const index = categorysList.findIndex(x=>x.title == title);

            let tmp = categorysList[index+1];
            categorysList[index+1] = categorysList[index];
            categorysList[index] = tmp;
        }


        function categoryUp() {

            const categoryTitle = selector.innerText;
            const category = categorysList.find(x => x.title == selector.innerText);

            // 선택 카테고리가 부모일때
            if (selector.previousSibling != null) {

                    swapToPrevious(categoryTitle);
                    selector.parentNode.insertBefore(selector, selector.previousSibling);

            }
        }

        function categoryDown() {

            const categoryTitle = selector.innerText;
            const category = categorysList.find(x => x.title == selector.innerText);

            // 선택 카테고리가 부모일때
            if (selector.nextSibling.nextSibling != null) {

                swapToNextInDto(categoryTitle);
                selector.parentNode.insertBefore(selector, selector.nextSibling.nextSibling);
            }
            else if(selector.nextSibling.nextSibling == null) {
                    swapToNextInDto(categoryTitle);
                    selector.parentNode.appendChild(selector);
            }
        }

        function tierUp(){
            const category = categorysList.find(x => x.title == selector.innerText);
            category.tier = 1;
            selector.classList.add("fw-bold");

        }
        function tierDown(){
            const category = categorysList.find(x => x.title == selector.innerText);
            category.tier = 2;
            selector.classList.remove("fw-bold");

        }

        function addCategory(){
            const box = document.getElementById("categoryBox");
            box.innerHTML +=`<div class="btn btn-secondary" onclick="clickCategory(this)">새 카테고리</div>`

            let newCategory = new Object();
            newCategory.id = null;
            newCategory.title = '새 카테고리';
            newCategory.tier = 2;
            newCategory.count = 0;
            newCategory.porder = 0;
            newCategory.corder = 0;

            categorysList.push(newCategory);

        }
        function deleteCategory(){
            const categoryIndex = categorysList.findIndex(x=>x.title == selector.innerText);

            categorysList.splice(categoryIndex,1);
            selector.remove();
        }

        function changeCategory(){

            let token = getCsrfToken();

            const xhr = new XMLHttpRequest();
            xhr.open("POST", "/category/edit");
            xhr.setRequestHeader("content-type", "application/json");
            xhr.setRequestHeader("X-XSRF-TOKEN", token);
            xhr.send(JSON.stringify(categorysList));

            xhr.onload = () => {
                if (xhr.status === 200 || xhr.status === 201 || xhr.status === 202) {

                        alert("성공");
                }
                else{

                }
            }
        }


    </script>


</section>

</body>
</html>