<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<div th:fragment="sideBar">

    <div class="m-4 sidebar-header">
        <a th:href="@{/}"><h4 class="text-black-50">BLOG</h4></a>
        <a href="#"><h4 class="text-black-50">ABOUT ME</h4></a>
        <a sec:authorize="hasRole('ADMIN')" th:href="@{/article/write}" href="#">
            <h4 class="text-black-50">WRITE ARTICLE</h4>
        </a>
    </div>

    <div class="pb-3 mb-3 link-dark border-bottom">
        <form class="searchBox">
            <input class="searchInput form-control ps-4" type="search" placeholder="" aria-label="Search">
            <i class="fas fa-search"></i>
        </form>
    </div>

    <ul class="list-unstyled ps-0">

        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed fs-5" data-bs-toggle="collapse"
                    data-bs-target="#collapse-link" aria-expanded="true">Link
            </button>
            <div class="collapse show" id="collapse-link">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1">
                    <li><a href="https://github.com/jinia91" class="link-dark rounded">
                        <i class="fab fa-github" style="font-size: 20px;"></i>&nbsp Github</a>
                    </li>
                </ul>
            </div>
        </li>

        <li class="mb-1 superCategory btn fs-5"><a th:href="@{/article/list(category=total,tier=0,page=1)}" th:text="|전체글(${category.getCount()})|">토탈</a></li>

        <li class="mb-1" th:each="superCategory : ${category.getCategoryTCountList()}">
            <div class="btn-group">
                <button class="btn btn-toggle align-items-center rounded collapsed
                           me-0 pe-0" data-bs-toggle="collapse"
                        th:data-bs-target="|#collapse-${superCategory.getId()}-sub|"
                        aria-expanded="true">
                </button>
                <a th:href="@{/article/list(category=${superCategory.getTitle()},tier=1,page=1)}" class="ms-0 superCategory btn fs-6"
                   th:text="|${superCategory.getTitle()}(${superCategory.getCount()})|">슈퍼</a>
            </div>
            <div class="collapse show" th:id="|collapse-${superCategory.getId()}-sub|">
                <ul class="ms-1 btn-toggle-nav list-unstyled fw-normal pb-1 small"
                    th:each="subCategory : ${superCategory.getCategoryTCountList()}">
                    <li><a th:href="@{/article/list(category=${subCategory.getTitle()},tier=2,page=1)}" class="link-dark rounded"
                           th:text="|${subCategory.getTitle()}(${subCategory.getCount()})|">서브</a></li>
                </ul>
            </div>
        </li>

        <li class="border-top my-3"></li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed fs-5" data-bs-toggle="collapse"
                    data-bs-target="#account-collapse-xl" aria-expanded="true">Account
            </button>
            <div class="collapse show" id="account-collapse-xl">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li sec:authorize="!isAuthenticated()"><a th:href="@{/login}"
                                                              class="link-dark rounded">로그인</a></li>
                    <li sec:authorize="hasRole('USER')" th:text="${#authentication.name} + '님 환영합니다'"></li>
                    <li sec:authorize="hasRole('ADMIN')" th:text="관리자계정입니다"></li>

                    <li sec:authorize="isAuthenticated()">
                        <form method="post" id="logout" name="logout" th:action="@{/logout}">
                            <button class="btn"><a class="btn">로그아웃</a></button>
                        </form>
                    </li>
                </ul>
            </div>
        </li>
    </ul>

</div>

</html>