<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<div th:fragment="sideBar">

    <div class="m-4 sidebar-header">
        <a th:href="@{/}">
            <h5 class="text-black-50">BLOG</h5>
        </a>
        <a href="#">
            <h5 class="text-black-50">ABOUT ME</h5>
        </a>
        <a sec:authorize="hasRole('ADMIN')" th:href="@{/article/write}" href="#">
            <h5 class="text-black-50">WRITE ARTICLE</h5>
        </a>
    </div>

    <div href="#" class="d-flex align-items-center pb-3 mb-3 link-dark border-bottom">
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="검색해" aria-label="Search">
            <button class="btn btn-outline-success" type="submit"><i class="fas fa-search"></i></button>
        </form>
    </div>

    <ul class="list-unstyled ps-0">
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                    data-bs-target="#collapse-link" aria-expanded="true">
                Link
            </button>
            <div class="collapse show" id="collapse-link">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="https://github.com/jinia91" class="link-dark rounded">
                        <i class="fab fa-github" style="font-size: 20px;"></i>&nbsp Github
                    </a></li>
                </ul>
            </div>
        </li>

        <li class="mb-1" th:text="|전체글(${category.getCount()})|"></li>

        <li class="mb-1" th:each="superCategory : ${category.getCategoryTCountList()}">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                    th:data-bs-target="|#collapse-${superCategory.getTitle()}-sub|"
                    aria-expanded="true"
                    th:text="|${superCategory.getTitle()}(${superCategory.getCount()})|">
            </button>

            <div class="collapse show" th:id="|collapse-${superCategory.getTitle()}-sub|">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small" th:each="subCategory : ${superCategory.getCategoryTCountList()}">
                    <li><a href="#" class="link-dark rounded" th:text="|${subCategory.getTitle()}(${subCategory.getCount()})|">카테고리1</a></li>
                </ul>
            </div>
        </li>

        <li class="border-top my-3"></li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                    data-bs-target="#account-collapse-xl" aria-expanded="true">
                Account
            </button>
            <div class="collapse show" id="account-collapse-xl">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li sec:authorize="!isAuthenticated()"><a th:href="@{/login}"
                                                              class="link-dark rounded">로그인</a></li>
                    <li sec:authorize="isAuthenticated()" th:text="${#authentication.name} + '님 환영합니다'"></li>

                    <li sec:authorize="isAuthenticated()">
                        <div class="link-dark rounded">
                            <form method="post" id="logout" name="logout" th:action="@{/logout}">
                                <a href="#" class="nav-link active" onclick="document.logout.submit()">로그아웃</a>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
    </ul>

</div>

</html>