<!DOCTYPE html>
<html th:replace="~{layout/layout.html :: layout(~{::head}, ~{::section})}"
      lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <!-- SEO -->
    <meta name="description" content=""/>
    <meta name="keyword" content=""/>
    <meta name="author" content="jinia"/>
    <meta name="viewport" content="width=device-width,  user-scalable = no, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <!-- OPEN GRAPH(FACEBOOK, LINKEDIN) -->
    <meta property="og:type" content=""/>
    <meta property="og:description" content=""/>
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>

    <!-- twitter -->
    <meta property="twitter:card" content=""/>
    <meta property="twitter:title" content=""/>
    <meta property="twitter:description" content=""/>
    <meta property="twitter:image" content=""/>
    <meta property="twitter:url" content=""/>
    <meta property="twitter:creator" content=""/>

    <link rel="icon" href=""/>
    <link rel="apple-touch-icon" href=""/>
    <link rel="short icon" type="image/x-icon" href=""/>

    <!-- CSS RESET -->
    <link rel="stylesheet" href="/node_modules/@toast-ui/editor/dist/toastui-editor.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"/>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/node_modules/@yaireo/tagify/dist/tagify.css"/>
    <link rel="stylesheet" href="/css/mainCss.css"/>
    <link rel="stylesheet" href="/css/articleView.css"/>

    <script src="https://kit.fontawesome.com/233840a552.js" crossorigin="anonymous"></script>
</head>

<body>

<section>

    <div class="main ">
        <div class="carousel-inner ">
            <div class="carousel-item active">
                <img th:src="${article.getThumbnailUrl()}" class="w-100 vh-100 cover"
                     alt="...">
                <div class="card-img-overlay text-shadow text-white text-center row justify-content-center align-content-center p-0">
                    <h1 style="font-size: 2.5rem;" th:text="${article.getTitle()}">아티클 제목</h1>
                    <h5 th:text="|작성일 : ${#temporals.format(article.getCreatedDate(), 'yyyy-MM-dd')}|">글쓴 날짜</h5>
                </div>
            </div>
        </div>

        <textarea name="contents" id="contents" th:text="${article.getContent()}" hidden></textarea>

        <div class="mt-5 ms-2 me-2 ms-sm-5 me-sm-5 mt-sm-5 d-flex justify-content-center">

            <div class="paper">
                <div class="ms-2 me-2 p-sm-4 p-2" id="viewer"></div>

                <div class="ms-2 me-2 mb-3 p-sm-4 p-2">
                    <div class="toolbox container pt-4 pb-4">
                        <div class=" ms-5 me-5 d-flex justify-content-end">
                            <a sec:authorize="hasRole('ADMIN')" class="btn btn-secondary" style="color: white"
                               th:href="@{/article/edit(articleId=${article.getId()})}"
                               type="button">수 정
                            </a>
                            <form th:action="@{/article/delete(articleId=${article.getId()})}" id="deleteArticle" method="post">
                                </form>
                            <button sec:authorize="hasRole('ADMIN')" class="btn btn-secondary ms-2" onclick="deleteArticle()">삭 제</button>
                        </div>
                        <div></div>
                        <div class="toolbox-head mt-3 ms-5 me-5">
                            <a th:href="@{/article/list(category=${article.getCategory()},tier=2,page=1)}"
                               th:text="|'${article.getCategory()}'|"></a>
                            <span>카테고리의 다른글</span></div>
                        <ul class="row row-cols-1 row-cols-sm-2 mt-2 ms-5 me-5 toolList">
                            <li th:each="list:${articlesSortBycategory}" th:if="${list.getTitle()} != ${article.getTitle()}" class="col">
                                <a th:href="@{/article/view(articleId=${list.getId()})}" th:text="${list.getTitle()}">글목록</a></li>
                        </ul>
                        <div class="mt-2 ms-5 me-5">
                            <a class="me-2" th:each="tag: ${article.tags}" th:href="@{/article/list/tag/{tag}(tag=${tag},page=1)}"><button class="badge rounded-pill bg-secondary" th:text="${tag}">태그</button></a>
                        </div>
                    </div>
                </div>

            </div>



        </div>


        <!-- comment s -->
        <hr class="py-1" style="color: rgb(212, 200, 184);">

        <div class="container mt-2 mb-5" style="max-width: 1200px;">

            <div sec:authorize="isAuthenticated()" class="ms-2 me-2 mt-3 d-flex align-items-center">
                <div>
                    <img th:src="${member.getPicUrl()}" width="50"
                         height="50"
                         class="rounded-circle me-2">
                </div>
                <textarea type="text" id="commentContent" name="commentContent"
                          class="form-control" placeholder="댓글을 작성해주세요..."></textarea>
            </div>
            <div sec:authorize="isAuthenticated()" class="d-flex">
                <div class="ms-auto mt-2 me-2">
                     <button class="btn btn-secondary btn-sm" onclick="commentWrite()">등 록</button>
                </div>
            </div>

            <div class="row justify-content-center align-items-center g-0 wow fadeInUp p-2">
                <div class="col">
                    <div id="commentContainer">

                        <!-- comment -->
                        <div class="mt-2 comment-box" id="commentBox">
                        </div>

                        <!--  -->

                    </div>
                </div>
            </div>


        </div>


        <!-- comment e -->

        <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
        <script src="/js/getCsrf.js"></script>
        <script src="/js/articleView.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.0/moment.min.js"></script>
        <script th:replace="layout/fragments.html :: comment"></script>
    </div>
</section>

</body>
</html>