.form-color {
    background-color: #e0dedd;
}

.form-control {
    border-radius: 25px;
    height: fit-content;
    resize: none;
}

.form-control:focus {
    color: #495057;
    background-color: #fcf6f5;
    border-color: #35b69f;
    outline: 0;
    box-shadow: none;
    text-indent: 10px;
}

.comment-box{
    background-color: #ebebeb;


}


.comment-text {
    font-size: 13px;
}

.comment-reply {
    background-color: #e0dedd;
}

.paper {
    background: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    position: relative;
    max-width: 1200px;
    min-width: 60vw;
    min-height: 600px;
    font-size: 0.8em;
    overflow: auto;
}

.user-feed {
    font-size: 14px;
    margin-top: 12px;
}

::selection {
    color: black;
    background: #e7fd1e;
}

::-moz-selection {
    color: black;
    background: #e7fd1e;
}

.toolbox{
    background-color: #ebebeb;
    font-size: 1.1rem;

}

.toolbox-head{
    border-bottom: 3px solid #dbdbdb;
    font-size: 1.2rem;
    font-weight: bold;
}

ul.toolList{
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}
ul.toolList li{
    margin-bottom: 5px;
    border-bottom: 1px solid #dbdbdb;
}

ul.toolList li:before{
    content: "\f550";
    font-family: FontAwesome;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
}

.badge:before{
    content: "\f02c";
    font-family: FontAwesome;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
}

.secretBox {
    position: relative;
}
.lock {
    cursor:pointer;
    height:25px;
}
.lock input {
    display:none;
}
.lock span:before,
.lock span:after{
    content:"";
}
.lock span:before {
    width:64px;
    height:25px;
    margin-right:8px;
    background:#EEE;
    border-radius:32px;
    display:inline-block;
    vertical-align:middle;
    transition:all .5s cubic-bezier(.175, .885, .32, 1);
}
.lock span:after {
    margin:2px;
    width:28px;
    height:20px;
    background:#FFF;
    border-radius:28px;
    position:absolute;
    left:0;
    background-image: url("/img/unlock.png");
    background-size: 16px 16px;
    background-position: center;
    background-repeat: no-repeat;
    z-index:2;
    transition:all .5s cubic-bezier(.175, .885, .32, 1);
}
.lock input:checked + span:after {
    left:30px;
    background-image:url("/img/lock.png");
}
.lock input:checked + span:before {
    background-color: #929292;
}