
.login-section{
    width: 100%;
    height: 90vh;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center; /* 수직 정렬 */

    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; /* 수평 정렬 */
}

button img{
    width: 200px;
    height:50px;
}

/* Social Buttons Style */
.btnCtm {
    background: none;
    border: none;
    background-position: 1em;
    background-repeat: no-repeat;
    background-size: 2em;
    border-radius: 0.5em;
    color: white;
    cursor: pointer;
    font-size: 15px;
    line-height: 1em;
    padding: 0 2em 0 4em;
    text-decoration: none;
    transition: all 0.5s;
    height: 50px;
    width: 200px;
    margin-bottom: 5px;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);

}

.btn-google {
    background-color: #dd4b39;
    background-image: url("/img/google.svg");
}
.btn-google:hover {
    background-color: #e47365;
}
.btn-google:active {
    background-color: #c23321;
}
.btn-facebook {
    background-color: #3b5998;
    background-image: url("/img/facebook.svg");
}
.btn-facebook:hover {
    background-color: #4c70ba;
}
.btn-facebook:active {
    background-color: #2d4373;
}

.btn-naver {
    background-color: #3e983b;
    background-image: url("/img/naver.svg");
}
.btn-naver:hover {
    background-color: #56b13e;
}
.btn-naver:active {
    background-color: #56b13e;
}

hr{
    border:3px; height: 1px !important; display: block !important; width: 100% !important;
}

.login-box{
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 30rem;
}

.alert{
    color: red;
}
