<!DOCTYPE html>
<html th:replace="~{layout/layout.html :: layout(~{::head}, ~{::section})}"
      lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jinia's Log - 글 작성</title>
    <!-- SEO -->
    <meta name="description" content=""/>
    <meta name="keyword" content=""/>
    <meta name="author" content="jinia"/>
    <meta name="viewport" content="width=device-width,  user-scalable = no, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <!-- OPEN GRAPH(FACEBOOK, LINKEDIN) -->
    <meta property="og:type" content=""/>
    <meta property="og:description" content=""/>
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>

    <!-- twitter -->
    <meta property="twitter:card" content=""/>
    <meta property="twitter:title" content=""/>
    <meta property="twitter:description" content=""/>
    <meta property="twitter:image" content=""/>
    <meta property="twitter:url" content=""/>
    <meta property="twitter:creator" content=""/>

    <link rel="icon" href=""/>
    <link rel="apple-touch-icon" href=""/>
    <link rel="short icon" type="image/x-icon" href=""/>

    <!-- CSS RESET -->
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"/>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/mainCss.css"/>

    <script src="https://kit.fontawesome.com/233840a552.js" crossorigin="anonymous"></script>
</head>

<body>

<section>

    <div style="margin-bottom: 150px"></div>

    <div class="container">
        <div class="row justify-content-center mt-5 mb-3 g-0">

            <form class="" method="post" enctype="multipart/form-data" th:object="${newArticleDto}"
                  th:action="@{/article/write}" id="writeArticleForm">

                <div class="form-group">
                    <input id="title" name="title" type="text" class="form-control"
                           placeholder="제목을 입력해주세요" required max="30">
                </div>

                <div class="form-group">
                    <textarea type="text" name="content" id="content" hidden></textarea>
                </div>

            </form>
        </div>


        <div class="row justify-content-center mb-3 g-0">
            <label for="editor"></label>
            <div class=" d-none d-sm-block">
                <div id="editor"></div>
            </div>
            <div class=" d-block d-sm-none">
                <div id="editorMobile"></div>
            </div>
        </div>

        <div class="row justify-content-evenly mb-5 g-0">
            <button class="btn btn-secondary col-4 d-none d-sm-block" onclick="post()">등 록</button>
            <button class="btn btn-secondary col-4 d-block d-sm-none" onclick="postMobile()">등 록</button>
            <button class="btn btn-secondary col-4" onclick="javascript:history.back()">취 소</button>
        </div>
    </div>

    <!--scripts-->
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <script src="/js/editor.js"></script>

</section>

</body>
</html>