<!DOCTYPE html>
<html th:replace="~{layout/layout.html :: layout(~{::head}, ~{::section})}"
      lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jinia's Log - 로그인</title>
    <!-- SEO -->
    <meta name="description" content=""/>
    <meta name="keyword" content=""/>
    <meta name="author" content="jinia"/>
    <meta name="viewport" content="width=device-width,  user-scalable = no, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <!-- OPEN GRAPH(FACEBOOK, LINKEDIN) -->
    <meta property="og:type" content=""/>
    <meta property="og:description" content=""/>
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>

    <!-- twitter -->
    <meta property="twitter:card" content=""/>
    <meta property="twitter:title" content=""/>
    <meta property="twitter:description" content=""/>
    <meta property="twitter:image" content=""/>
    <meta property="twitter:url" content=""/>
    <meta property="twitter:creator" content=""/>

    <link rel="icon" href=""/>
    <link rel="apple-touch-icon" href=""/>
    <link rel="short icon" type="image/x-icon" href=""/>

    <!-- CSS RESET -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"/>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/mainCss.css"/>
    <link rel="stylesheet" href="/css/login.css"/>

    <script src="https://kit.fontawesome.com/233840a552.js" crossorigin="anonymous"></script>
</head>

<body>

<section>

    <div style="margin-bottom: 150px"></div>

    <div class="container">
            <P class="text-center" id="capsAlert" th:text="${errMsg}">로그인 오류</P>
        <span class="d-flex flex-column align-items-center justify-content-center h-100">


            <div class="col">
                <a href="/oauth2/authorization/google">
                    <button class="btnCtm btn-google">구글 로그인</button>
                </a>

            </div>

            <div class="col">
                <a href="/oauth2/authorization/facebook">
                    <button class="btnCtm btn-facebook">페이스북 로그인</button>
                </a>
            </div>

            <div class="col">
                <a href="/oauth2/authorization/kakao">
                    <button class="btn-kakao"><img src="/img/kakao.png"></button>
                </a>
            </div>

            <div class="col">
                <a href="/oauth2/authorization/naver">
                    <button class="btn-naver"><img src="/img/naver.png"></button>
                </a>
            </div>
        </span>
    </div>

    <div style="margin-bottom:  100px"></div>


    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</section>

</body>
</html>