<!DOCTYPE html>
<html th:replace="~{layout/layout.html :: layout(~{::title}, ~{::section}, ~{::link})}"
      lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <title>Jinia's Log</title>
    <link rel="stylesheet" href=""/>
</head>
<body>

<section>
    <div class="main">

        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">

            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 0"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                        aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                        aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
                        aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"
                        aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5"
                        aria-label="Slide 5"></button>
            </div>

            <div class="carousel-inner">

                <div class="carousel-item active">
                    <a href="#">
                        <img src="https://cdn.pixabay.com/photo/2020/11/08/13/28/tree-5723734_1280.jpg"
                             class="w-100 vh-100 cover" alt="...">
                        <div class="card-img-overlay text-white text-center row justify-content-center align-content-center">
                            <h3 class="">첫번째 이미지</h3>
                            <p class="text-truncate w-50">블로그 아티클 헤으응</p>
                        </div>
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="#">
                        <img src="https://cdn.pixabay.com/photo/2021/09/27/14/39/paris-6661136_1280.jpg"
                             class="w-100 vh-100 cover" alt="...">
                        <div class="card-img-overlay text-white text-center row justify-content-center align-content-center">
                            <h3>두번째 이미지</h3>
                            <p class="text-truncate w-50">블로그 아티클 헤으응2</p>
                        </div>
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="#">
                        <img src="https://cdn.pixabay.com/photo/2021/10/23/16/31/italy-6735340_1280.jpg"
                             class="w-100 vh-100 cover" alt="...">
                        <div class="card-img-overlay text-white text-center row justify-content-center align-content-center">
                            <h3>세번째 이미지</h3>
                            <p class="text-truncate w-50">블로그 아티클 헤으응3</p>
                        </div>
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="#">
                        <img src="https://cdn.pixabay.com/photo/2021/10/13/15/09/water-6706894_1280.jpg"
                             class="w-100 vh-100 cover" alt="...">
                        <div class="card-img-overlay text-white text-center row justify-content-center align-content-center">
                            <h3>네번째 이미지</h3>
                            <p class="text-truncate w-50">블로그 아티클
                                헤으응31!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!헤으응31!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!헤으응31!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
                            </p>
                        </div>
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="#">
                        <img
                                src="https://media.istockphoto.com/photos/matrix-background-with-the-green-numbers-picture-id539244598"
                                class="w-100 vh-100 cover" alt="...">
                        <div class="card-img-overlay text-white text-center row justify-content-center align-content-center">
                            <h3>다섯번째 이미지</h3>
                            <p class="text-truncate w-50">블로그 아티클 헤으응3</p>
                        </div>
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="#">
                        <img src="https://cdn.pixabay.com/photo/2021/01/01/21/31/halloween-5880068_1280.jpg"
                             class="w-100 vh-100 cover" alt="...">
                        <div class="card-img-overlay text-white text-center row justify-content-center align-content-center">
                            <h3>여섯번째 이미지</h3>
                            <p class="text-truncate">블로그 아티클 헤으응3</p>
                        </div>
                    </a>
                </div>

            </div>


            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>

        </div>
    </div>


    <div class="mt-5 pt-2 popular-card-section">

        <div class="cards-container container p-0">
            <div class=" row g-0 row-cols-2 row-cols-md-3">

                <div class="col g-1 g-md-4 ">
                    <a href="#">
                        <div class=" card ratio ratio-1x1 popular-card " style="background-image: url(https://cdn.pixabay.com/photo/2020/11/08/13/28/tree-5723734_1280.jpg);
        background-size: cover;">
                            <div class="card-description">
                                <p>타이틀</p>
                            </div>
                            <div class="card-des-overlay">설명</div>
                        </div>
                    </a>
                </div>

                <div class="col g-1 g-md-4">
                    <a href="#">
                        <div class="card ratio ratio-1x1 popular-card " style="background-image: url(https://cdn.pixabay.com/photo/2021/09/27/14/39/paris-6661136_1280.jpg);
        background-size: cover;">
                            <div class="card-description">
                                <p>타이틀</p>
                            </div>
                            <div class="card-des-overlay">설명</div>
                        </div>
                    </a>
                </div>

                <div class="col g-1 g-md-4">
                    <a href="#">
                        <div class="card ratio ratio-1x1 popular-card " style="background-image: url(https://cdn.pixabay.com/photo/2021/10/23/16/31/italy-6735340_1280.jpg);
        background-size: cover;">
                            <div class="card-description">
                                <p>타이틀</p>
                            </div>
                            <div class="card-des-overlay">설명</div>
                        </div>
                    </a>
                </div>
                <div class="col g-1 g-md-4">
                    <a href="#">
                        <div class="card ratio ratio-1x1 popular-card " style="background-image: url(https://cdn.pixabay.com/photo/2021/10/13/15/09/water-6706894_1280.jpg);
        background-size: cover;">
                            <div class="card-description">
                                <p>타이틀</p>
                            </div>
                            <div class="card-des-overlay">설명</div>
                        </div>
                    </a>
                </div>
                <div class="col g-1 g-md-4">
                    <a href="#">
                        <div class="card ratio ratio-1x1 popular-card " style="background-image: url(https://media.istockphoto.com/photos/matrix-background-with-the-green-numbers-picture-id539244598);
        background-size: cover;">
                            <div class="card-description">
                                <p>타이틀</p>
                            </div>
                            <div class="card-des-overlay">설명</div>
                        </div>
                    </a>
                </div>
                <div class="col g-1 g-md-4">
                    <a href="#">
                        <div class="card ratio ratio-1x1 popular-card " style="background-image: url(https://cdn.pixabay.com/photo/2021/01/01/21/31/halloween-5880068_1280.jpg);
        background-size: cover;">
                            <div class="card-description">
                                <p>타이틀</p>
                            </div>
                            <div class="card-des-overlay">설명</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>

    <hr class="py-1 mt-5" style="color: rgb(212, 200, 184);">

    <div class="recent-cards mt-5">

        <div class="cards-container container p-0">
            <h1 class="text-center">최신 포스팅</h1>
            <hr>

            <div class="card mb-3 recent-card">
                <a href="#">
                    <div class="row g-0">
                        <div class="col-3">
                            <div class="ratio ratio-1x1" style="background-image: url(https://cdn.pixabay.com/photo/2021/09/27/14/39/paris-6661136_1280.jpg);
            background-size: cover;"></div>
                        </div>
                        <div class="col-9 row row-cols-1 align-self-center">
                            <h3 class="card-title col mb-3 text-truncate">글 제목</h3>
                            <p class="d-none d-md-block col recent-card-text">대충 존나 긴 내용대충 존나 긴 내용대충 존나 긴 내용대충 존나 긴
                                내용대충 존나 긴 내용대충
                                존나
                                긴
                                내용대충 존나 긴대충 긴대충 긴대충 긴대충 긴대충 긴대충 긴대충 존나 긴 내용대충 존나 긴 내용대충 존나 긴 내용대충 존나 긴 내용대충 존나 긴
                                내용</p>
                            <p class="col mb-0"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="card mb-3 recent-card">
                <a href="#">
                    <div class="row g-0">
                        <div class="col-3">
                            <div class="ratio ratio-1x1" style="background-image: url(https://media.istockphoto.com/photos/matrix-background-with-the-green-numbers-picture-id539244598);
            background-size: cover;"></div>
                        </div>
                        <div class="col-9 row row-cols-1 align-self-center">
                            <h3 class="card-title col mb-3 text-truncate">글 제목</h3>
                            <p class="d-none d-md-block col recent-card-text">대충 존나 긴 내용대충 존나 긴 내용대충 존나 긴 내용대충 존나 긴
                                내용대충 존나 긴 내용대충
                                존나
                                긴
                                내용대충 존나 긴
                                내용대충 존나 긴 내용대충 존나 긴 내용대충 존나 긴 내용대충 존나 긴 내용대충 존나 긴 내용대충 존나 긴 내용대충 존나 긴 내용대충 존나 긴 내용대충
                                존나 긴 내용대충 존나 긴
                                내용대충
                                존나 긴 내용대충 존나 긴 내용대충 존나 긴 내용대충 존나 긴 내용대충 존나 긴 내용대충 존나 긴 내용대충 존나 긴 내용대충 존나 긴 내용대충 존나 긴
                                내용대충 존나 긴 내용
                            </p>
                            <p class="col mb-0"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="card mb-3 recent-card">
                <a href="#">
                    <div class="row g-0">
                        <div class="col-3">
                            <div class="ratio ratio-1x1" style="background-image: url(https://media.istockphoto.com/photos/matrix-background-with-the-green-numbers-picture-id539244598);
            background-size: cover;"></div>
                        </div>
                        <div class="col-9 row row-cols-1 align-self-center">
                            <h3 class="card-title col mb-3 text-truncate">글 제목</h3>
                            <p class="d-none d-md-block col recent-card-text">대충 존나 긴 내용대충 존나 긴 내용대충 존나 긴 내용대충 존나 긴
                                내용대충 존나 긴 내용대충
                                존나
                                긴
                                내용대충 존나 긴
                                내용대충 존나 긴 내용대충 존나 긴 내용대충 존나 긴 내용대충 존나 긴 내용대충 존나 긴 내용대충 존나 긴 내용대충 존나 긴 내용대충 존나 긴 내용대충
                                존나 긴 내용대충 존나 긴
                                내용대충
                                존나 긴 내용대충 존나 긴 내용대충 존나 긴 내용대충 존나 긴 내용대충 존나 긴 내용대충 존나 긴 내용대충 존나 긴 내용대충 존나 긴 내용대충 존나 긴
                                내용대충 존나 긴 내용
                            </p>
                            <p class="col mb-0"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="card mb-3 recent-card">
                <a href="#">
                    <div class="row g-0">
                        <div class="col-3">
                            <div class="ratio ratio-1x1" style="background-image: url(https://media.istockphoto.com/photos/matrix-background-with-the-green-numbers-picture-id539244598);
            background-size: cover;"></div>
                        </div>
                        <div class="col-9 row row-cols-1 align-self-center">
                            <h3 class="card-title col mb-3 text-truncate">글 제목</h3>
                            <p class="d-none d-md-block col recent-card-text">대충 존나 긴 내용대충 존나 긴 내용대충 존나 긴 내용대충 존나 긴
                                내용대충 존나 긴 내용대충
                                존나
                                긴
                                내용대충 존나 긴
                                내용대충 존나 긴 내용대충 존나 긴 내용대충 존나 긴 내용대충 존나 긴 내용대충 존나 긴 내용대충 존나 긴 내용대충 존나 긴 내용대충 존나 긴 내용대충
                                존나 긴 내용대충 존나 긴
                                내용대충
                                존나 긴 내용대충 존나 긴 내용대충 존나 긴 내용대충 존나 긴 내용대충 존나 긴 내용대충 존나 긴 내용대충 존나 긴 내용대충 존나 긴 내용대충 존나 긴
                                내용대충 존나 긴 내용
                            </p>
                            <p class="col mb-0"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="card mb-3 recent-card">
                <a href="#">
                    <div class="row g-0">
                        <div class="col-3">
                            <div class="ratio ratio-1x1" style="background-image: url(https://cdn.pixabay.com/photo/2021/01/01/21/31/halloween-5880068_1280.jpg);
            background-size: cover;"></div>
                        </div>
                        <div class="col-9 row row-cols-1 align-self-center">
                            <h3 class="card-title col mb-3 text-truncate">글 제목</h3>
                            <p class="d-none d-md-block col recent-card-text">대충 존나 긴 내용대충 존나 긴 내용대충 존나 긴 내용대충 존나 긴
                                내용대충 존나 긴 내용대충
                                존나
                                긴
                                내용대충 존나 긴
                                내용대충 존나 긴 내용대충 존나 긴 내용대충 존나 긴 내용대충 존나 긴 내용대충 존나 긴 내용대충 존나 긴 내용대충 존나 긴 내용대충 존나 긴 내용대충
                                존나 긴 내용대충 존나 긴
                                내용대충
                                존나 긴 내용대충 존나 긴 내용대충 존나 긴 내용대충 존나 긴 내용대충 존나 긴 내용대충 존나 긴 내용대충 존나 긴 내용대충 존나 긴 내용대충 존나 긴
                                내용대충 존나 긴 내용
                            </p>
                            <p class="col mb-0"><small class="text-muted update">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>

</body>
</html>